include LICENSE
include AUTHORS
include README.rst
include setup.cfg
include ieia/xblock/static/dist/manifest.json
include ieia/xblock/static/dist/*.js
include ieia/xblock/static/dist/*.css
include ieia/xblock/static/css/*.css
include ieia/xblock/static/css/lib/backgrid/*.css
include ieia/xblock/static/js/ieia*.js
include ieia/xblock/static/js/lib/backgrid/*.js
include requirements/*.in
recursive-include ieia/xblock/static/js/src *.js
recursive-include ieia/templates *.html *.underscore
recursive-include ieia/locale *.po
recursive-include ieia/locale *.mo
